* {
    margin: 0;
    padding: 0;
    max-height: 100vh;
    overflow: hidden;
}

.EventDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100vh;
    height: 93.6vh;
    max-width: 100vw;
    margin: 0;
    background-image: url('../assets/PageAccueil.png');
    overflow: hidden;
}

.EventSection {
    width: 50%;
    height: fit-content;
    text-align: center;
    color: whitesmoke;
    background-color: rgb(26, 26, 26);
    padding: 1rem;
}

.EventTitle {
    font-size: 3rem;
}

.ev {
    color: lightcoral;
}

.EventText {
    font-size: 2rem;
}

.EventLink {
    text-decoration: underline;
    color: lightskyblue;
}

.EventLink:active {
    color: lightskyblue;
}