.navDiv {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.mediaSection {
    background-color: rgb(26, 26, 26);
    height: 3%;
    width: 100%;
    overflow: hidden;
    justify-content: space-around
}

.navSection {
    justify-content: space-between;
    overflow: hidden;
    max-width: 100vw;
    max-height: fit-content;
}

.list {
    text-align: center;
    margin-left: 65%;
    text-decoration: none;
}

.list > li {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
}

.list > li:hover {
    cursor: pointer;
    color: rgb(180, 3, 3);
}

.link {
    color: black;
    text-decoration: none;
}

.current {
    color: rgb(180, 3, 3);
    text-decoration: underline;
}

.mediaLinks {
    text-decoration: none;
}

.mediaSection > img {
    border: none;
    margin-left: 0.7em;
    margin-bottom : 0.3em;
}

.discord, .youtube{
    width: 1rem;
    margin-left: 0.7em;
}

.twitch {
    width: 0.8rem;
    margin-left: 0.7em;
}